{% extends 'main/base.html' %}

{% block title %} Reviews {% endblock %}

{% block review_func_add %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Functions</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'create_review' %}">Create review</a></li>
        </ul>
    </li>
{% endblock %}

{% block content %}
    {% if reviews %}
            <div class="row">
                {% for el in reviews %}
                <div class="col-sm-4 col-revs">
                    <div class="alert alert-dark revs">
                        <img class="revs-img" src="{{ el.author.profile.image.url }}">
                        <h4>{{ el.author.username }}</h4>
                        <p>{{ el.text }}</p>
                        {% if perms.reviews.delete_reviews %}
                            <a href="{% url 'reviews-delete' el.id %}">
                                <button class="btn btn-danger">Delete</button>
                            </a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
    {% else %}
        <p>No reviews</p>
    {% endif %}
{% endblock %}