{% extends 'main/base.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <div class="btn-group" role="group" aria-label="News buttons">
        {% if perms.news.delete_articles %}
            <a href="{% url 'news-delete' article.id %}" class="btn btn-outline-dark">Delete review</a>
        {% endif %}
        {% if perms.news.change_articles %}
            <a href="{% url 'news-update' article.id %}" class="btn btn-outline-dark">Edit review</a>
        {% endif %}
    </div>
    <div class="features">
        <h1>{{ article.title }}</h1>
        <p>{{ article.date }}</p>
        <p>{{ article.full_text }}</p>
    </div>
{% endblock %}