{% extends 'main/base.html' %}

{% block title %}News{% endblock %}

{% block article_func_add %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Functions</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'create' %}">Create post</a></li>
            {% block delete %}{% endblock %}
        </ul>
    </li>
{% endblock %}

{% block content %}
        {% if news %}
            {% for el in news %}
                <div class="alert alert-dark">
                    <h3>{{ el.title }}</h3>
                    <p class="product-buyer-name">{{ el.full_text }}</p>
                    <a href="{% url 'news-detail' el.id %}" class="btn btn-dark" style="font-family: Courier;">Read more</a>
                </div><br>
            {% endfor %}
        {% else %}
            <p>No articles</p>
        {% endif %}
{% endblock %}