{% extends 'main/base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="row" style="text-align: center;">
        <div class="col-lg-3">
            <img src="{% static 'main/img/my_photo.jpg' %}" class="rounded my-photo">
        </div>
        <div class="col p-5">
            <h2 id="hometext" class="font-weight-bold">Dark Stussy is beginner developer and lives in Sofia.</h2>
            <h2 id="hometext" class="font-weight-bold">Programming languages: Python, C++</h2>
            <h2 id="hometext" class="font-weight-bold">Works with Django, aiogram, Unreal Engine...(The list is
                growing) </h2>
        </div>
    </div><br><br>
    <h5>Take a look at my <a href="{% url 'projects' %}">projects </a></h5>
{% endblock %}