{% extends 'main/base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="row justify-content-center my-3">
        <div class="col-5">
            <img src="{% static 'main/img/my_photo.jpg' %}" class="img-fluid">
        </div>
    </div>

    <div class="row justify-content-center mb-3">
        <div class="col-md-9 text-center">
            <h3 id="hometext" class="font-weight-bold">Dark Stussy is beginner developer and lives in Sofia.</h3>
            <h3 id="hometext" class="font-weight-bold">Programming languages: Python, C++</h3>
            <h3 id="hometext" class="font-weight-bold">Works with Django, aiogram, Unreal Engine...(The list is
                growing) </h3>
        </div>
    </div>
    <h5>Take a look at my <a href="{% url 'projects' %}">projects </a></h5>
{% endblock %}