body {
    background: rgb(149, 109, 246);
    background: linear-gradient(90deg, rgba(149, 109, 246, 1) 0%, rgba(110, 110, 110, 1) 100%);
}

.dropdown .dropdown-menu a:hover {
    background-color: lavender;
}

.main-img {
    width: 90px;
    margin-left: 10px;
    margin-right: 10px;
}

.settings .nav-link {
    color: darkgrey;
}

article {
    margin-right: 100px;
    margin-left: 100px;
}

article section {
    text-align: center;
    margin-top: 10px;
    color: aliceblue;
}

.news {
    background: linear-gradient(90deg, rgba(149, 109, 246, 1) 0%, rgba(150, 150, 150, 1) 100%);
    color: aliceblue;
    font-family: "Courier New";
    margin: auto;
    width: 80%;
}

.product-buyer-name {
    max-width: 100ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.article-img {
    width: 450px;
}

.read-more {
    font-family: Courier;
}

.revs p, .revs h4 {
    text-align: center;
}

.revs .revs-img {
    width: 150px;
    border-radius: 50%;
    padding: 5px;
}

.revs h4 {
    font-weight: bold;
}

.revs {
    margin: auto;
    background-color: unset;
    color: aliceblue;
    font-family: "Courier New";
    width: 70%;
}


form {
    width: 400px;
    margin: auto;
}

.alert-light {
    margin-top: 50px;
    background: #292b2c;
    color: aliceblue;
    font-family: Arial;
    border-style: none;
}

.prf-info p {
    color: aliceblue;
}

.h-user {
    color: aliceblue;
}

.edit-prf {
    color: aliceblue;
}

.prf-card {
    background-color: #292b2c;
}
.mod-cont {
    background-color: #292b2c;
}